@charset "utf-8";
/* [box model] 
content : text, image
padding : 안 여백
border : 테두리
margin : 밖 여백*/
* {
  margin: 0;
  padding: 0;
}
.box {
  border: 3px solid;
  background-color: #df4;
  padding: 20px;
  margin: 30px;
}
.box2 {
  width: 600px;
}
.box3 {
  box-sizing: border-box;
}
