@charset "utf-8";
/* 초기화 */
ul,
ol,
li {
  list-style: none;
}
strong {
  font-weight: normal;
}
em {
  font-style: normal;
}

/* default style */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  background-color: #ff0;
  font-weight: bold;
}

/* 
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: #ff0;
  font-weight: bold;
}
p strong {
  font-weight: normal;
}
p em {
  font-style: normal;
} */
